<!--<mat-label *ngIf="!!label" class="ips-label">{{ label }}</mat-label>-->
<!--<form class="row" [formGroup]="dateRangeForm" novalidate>-->
<!--  <mat-form-field class="col">-->
<!--    <mat-label *ngIf="!label && !!startLabel">{{ startLabel }}</mat-label>-->
<!--    <input matInput-->
<!--           [ngClass]="startDisabled ? 'ips-color&#45;&#45;disabled' : ''"-->
<!--           formControlName="validFrom"-->
<!--           [matDatepicker]="startDate"-->
<!--           [min]="minStartDate"-->
<!--           [max]="maxStartDate"-->
<!--           [disabled]="startDisabled"-->
<!--           (click)="startDate.open()"-->
<!--           (dateChange)="onChange()"-->
<!--           (dateInput)="onTouch()"-->
<!--           readonly>-->
<!--    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #startDate-->
<!--                    (yearSelected)="yearSelectedHandler($event, startDate)"-->
<!--                    (monthSelected)="monthSelectedHandler($event, startDate)"-->
<!--                    [startView]="startView"-->
<!--                    [color]="color"-->
<!--                    [touchUi]="touchUi"-->
<!--                    [startAt]="startAt">-->
<!--    </mat-datepicker>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field class="col">-->
<!--    <mat-label *ngIf="!label && !!endLabel">{{ endLabel }}</mat-label>-->
<!--    <input matInput-->
<!--           [ngClass]="endDisabled ? 'ips-color&#45;&#45;disabled' : ''"-->
<!--           formControlName="validTo"-->
<!--           [matDatepicker]="endDate"-->
<!--           [min]="minEndDate"-->
<!--           [max]="maxEndDate"-->
<!--           [disabled]="endDisabled"-->
<!--           (click)="endDate.open()"-->
<!--           (dateChange)="onChange(true)"-->
<!--           (dateInput)="onTouch()"-->
<!--           readonly>-->
<!--    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #endDate-->
<!--                    (yearSelected)="yearSelectedHandler($event, endDate, true)"-->
<!--                    (monthSelected)="monthSelectedHandler($event, endDate, true)"-->
<!--                    [startView]="startView"-->
<!--                    [color]="color"-->
<!--                    [touchUi]="touchUi"-->
<!--                    [startAt]="endAt">-->
<!--    </mat-datepicker>-->
<!--  </mat-form-field>-->
<!--</form>-->
